mypiserver-arm
mypiserverx86-64
release-arm
release-x86-64
pimine-arm
pimine-x86-64
*.o
*.a
*.so
.vscode/
.idea/
*.swp
*.swo
CMakeLists.txt
compilepackage.sh
pimine-arm.tar.gz
pimine-x86-64.tar.gz
src/compilepackage.sh
